//
.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 25px;

  h1 {
    font-size: 62px;
  }

  > div {
    > h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    > p {
      font-size: 20px;
      margin-top: 10px;
    }

    > button {
      color: #ffffff;
      padding: 10px 20px;
      margin-left: 20px;
      border-radius: 5px;
      background-color: rgb(84, 209, 75);
      transition: 0.15s;

      &:hover {
        background-color: rgb(21, 140, 53);
      }

      &:active {
        transform: translateY(3.5px);
      }
    }

    &:nth-child(1) {
      > h2 {
        margin-left: 10px;
        margin-top: 10px;
      }
    }

    &:nth-child(2) {
      border-radius: 10px;
      padding: 20px;
      background-color: rgb(225, 227, 229);
    }
  }
}

.copany__info {
  padding: 15px 25px;
  border-radius: 10px;
  margin: 30px 0;
  background-color: rgb(225, 227, 229);

  h3 {
    font-size: 30px;
    margin: 10px 0 20px 20px;
    font-weight: 400;
  }
  p {
    font-size: 23px;
    max-width: 700px;
  }
}

.goBack {
  left: 5%;
  top: 5%;
  position: absolute;
  font-size: 20px;
  background-color: rgb(170, 23, 23);
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.15s;
}
.technologies__block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 15px;

  h2 {
    font-size: 30px;
  }

  > p {
    font-size: 20px;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;

    p {
      color: #ffffff;
      padding: 5px 10px;
      border-radius: 15px 0 15px 0;
    }
  }
}

@media (max-width: 600px) {
  .block {
    h1 {
      font-size: 50px;
    }
  }

  .copany__info {
    p {
      word-break: break-all;
      font-size: 20px;
    }
  }

  .goBack {
    font-size: 18px;
  }
}
